body {
  font-family: Helvetica, Arial;
  margin: 0;
  text-align: center;
}

.background {
  background: url('../../resources/images_and_icons/the_flatiron_building_background_image.png') top center no-repeat;
  background-size: cover;
}

h1, h2, h3 {
  font-weight: bold;
}

h1 {
  color: white;
  font-size: 70px;
}

.toplinks a, .bottomlinks a {
  color: white;
  font-size: 18px;
}

ul {
  list-style: none;
}

li {
  margin: 10px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

.icons p, .moreinfo p {
  font-size: 14px;
}

#newyork {
  background: url('../../resources/images_and_icons/the_flatiron_building_background_image.png');
  color: white;
}

.copyright {
  color: white;
  font-size: 11px;
}

.copyright p {
  background-color: dimgray;
  text-align: left;
}
